* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Gamja Flower", cursive;
}
.wrap {
  width: 100%;
  background: #ddd;
  text-align: center;
  padding: 50px;
}

.wrap .title {
  font-size: 60px;
  padding-bottom: 30px;
}

.wrap .subtxt {
  font-size: 25px;
}

main {
  display: flex;
  align-items: center;
}

main section {
  padding: 50px;
}

input {
  display: block;
  width: 500px;
  height: 55px;
  padding: 12px;
  background: #fbf6be;
  border: 1.5px dashed #808080;
  font-size: 19px;
}

input::placeholder,
textarea::placeholder {
  color: #484848;
}
.toolbar {
  display: flex;
  padding: 20px 0;
  justify-content: end;
}

.txt-btn {
  display: flex;
  padding: 20px 0;
  justify-content: end;
}

.fontbold {
  width: 100px;
  cursor: pointer;
  margin-right: 20px;
}

.fontred {
  width: 100px;
  cursor: pointer;
  margin: 0;
}

textarea {
  display: block;
  width: 500px;
  height: 250px;
  margin-bottom: 30px;
  padding: 15px 12px;
  background: #fbf6be;
  border: 1.5px dashed #808080;
  font-size: 20px;
}

textarea.font-weight-bold {
  font-weight: bold;
}

textarea.font-color-red {
  color: red;
}

button {
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: #f4bf00d2;
  color: #fff;
  font-size: 20px;
  border: 1px solid #808080;
  margin: auto;
  cursor: pointer;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  list-style: none;
}

ul li {
  width: 280px;
  padding: 40px;
  border-radius: 30px;
  border: 2px dashed #484848;
}

ul li h3 {
  margin-bottom: 10px;
}

ul li a {
  margin-bottom: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li p {
  margin: 10px 0;
  font-size: 20px;
}

.date {
  font-size: 16px;
  color: #484848;
}

ul li button {
  margin-top: 20px;
}




@media screen and (max-width: 900px) {
  .wrap {
    width: 100%;
  }

  main {
    flex-direction: column;
  }

  input,
  textarea {
    max-width: 400px;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  ul li {
    max-width: 230px;
  }
}




